@import '@/assets/scss/_main';

.container {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  
  .header{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 480px;
  background-color: $red;
  border-radius: 7px;
  color: rgb(36, 16, 144);
  }
  .img {
    width: 80px;
    height: 80px;
    right: -55px;
    border-radius: 5px;
  }
  .login-content {
    h1{
      color: $gray;
      font-size: 35px;
    }
  }
  .form-control {
    width: 100%;
  }
}